@import './base.scss';

body {
	background-image: url('@/assets/imgs/background.svg');
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

#app {
	position: relative;
	display: block;
	width: 100%;
	min-height: 100vh;
}
